@model ScriptLib.Models.CategoryModel

<div class="row">
    <div class="col-md-4">
        @*<form id="frmCatgory">*@
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CategoryId" />
        <div class="form-group">
            <label asp-for="CategoryName" class="control-label"></label>
        </div>
        @*</form>*@
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <input asp-for="CategoryName" class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input id="btnsubmitCategory" type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $(document).ready(function () {
       
        $("#btnsubmitCategory").click(function () {

          
            // var valdata = $("#frmCatgory").serialize();
            if ($("#CategoryName").val() == "") {
                $('#myModalPopup').modal('show');
                document.getElementById("idmsg").innerHTML = "Please enter category";
                return false;
            }

            var valdata = {
                CategoryId: $("#CategoryId").val(),
                CategoryName: $("#CategoryName").val()
            };

        
            $.ajax({
                url: '/Category/InsertUpdate',
                datatype: "json",               
                data: valdata,
                type: "post",
                contenttype: 'application/json; charset=utf-8',
                async: true,
                success: function (data) {      
                    if (data.success == false) {
                        $('#myModalPopup').modal('show');
                        document.getElementById("idmsg").innerHTML = data.responseText;
                    }
                    else {
                        $('#myModal').modal('hide');                     
                        location.reload();
                    }   
                },
                error: function (xhr) {
                    alert('error');                  
                }
            });
        });

        function GetCategory() {        
            $.ajax({
                url: '/Category/Index',
                datatype: "json",              
                type: "get",
                contenttype: 'application/json; charset=utf-8',
                async: true,
                success: function (data) {                   
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        }
    });
</script>
